[Unit]
Description = Kodi Media Center

# if you don't need the MySQL DB backend, this should be sufficient
After = systemd-user-sessions.service network.target sound.target syslog.target

# if you need the MySQL DB backend, use this block instead of the previous
# After = systemd-user-sessions.service network.target sound.target mysql.service
# Wants = mysql.service

[Service]
Type = idle
# ExecStart = /usr/bin/xinit /usr/bin/dbus-launch --exit-with-session /usr/bin/openscada -- :0 -nolisten tcp vt7
ExecStart = /usr/bin/xinit /usr/bin/openscada -- :0 -nolisten tcp vt7
# Restart=always
Restart = on-abort
RestartSec = 5

[Install]
WantedBy = multi-user.target
